
    <footer class="bg-white">
      <div class="container-fluid px-3">
        <div class="row pb-3">
  
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 px-5">
            <h6 class="comanyname font-weight-bold  mb-4 text-red mt-1 ">atplands</h6>
             <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, atque illo. Harum quia tenetur mollitia eius,.
             </p>
          </div>
  
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mt-3 d-md-block d-none">
            <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">About Us</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Contact Us</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Payment</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Maps</a></li>
            </ul>
          </div>
          
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mt-3 d-md-block d-none ">
            <h6 class="text-uppercase font-weight-bold mb-4 ">Policy</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Return Policy</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Terms Of Use</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Security</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Privacy</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mt-3 d-md-block d-none  ">
            <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Sitemap</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-lg-0 mt-3 ps-5">
            <h6 class="text-uppercase font-weight-bold mb-4">Registered Office Address</h6>
            <p class="text-muted ">Kurla East Mumbai-400024 </p>
             <a href="tel:+918268108343" class="text-muted" >
              <p class="text-decoration "><i class="fab fa-whatsapp-square"></i> +91 83412-54558</p>
          </a>
          <a href="mailto:hello@whizzactsolutions.com" class="text-muted">
            <p class="text-decoration "><i class="fas fa-envelope-square"></i> contact@atplands.com</p>
        </a>
            <ul class="list-inline mt-4">
              <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab   fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab  fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="youtube"><i class="fab  fa-youtube"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="linkedin"><i class="fab  fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="pinterest "><i class="fab  fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="p-0 m-0 b-0">
  
     
      <div class="bg-light py-2">
        <div class="container text-center">
          <p class="text-muted mb-0 "> Copyright © 2023ATPLands.com</p>
          
          </div>
        </div>
      
    </footer>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" ></script>
