{% extends 'base.html' %}
{% block content %}
<style>
    .sidenav {
    height: 100vh;
    /* width: 0; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1.5px solid #ebe9e9;
    }
    .sidenav a {
    padding: 8px 4px 8px 8px;
    margin-bottom: 0.8rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    display: block;
    transition: 0.3s;
    }
    .sidenav a:hover {
    color: #ff4b2b;
    /* background-color: rgb(253, 119, 71); */
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-bottom: 1px solid gray;
    }
    .sidenav a:active {
    color: white;
    background-color: #0e0d0d;
    font-weight: 600;
    border-radius: 10px;
    }
    /* Mobile */
    .mobile-sidebar a {
    padding: 8px 4px 8px 8px;
    margin-bottom: 0.8rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    display: block;
    transition: 0.3s;
    }
    .mobile-sidebar a:hover {
    color: #ff4b2b;
    border-bottom: 1px solid gray;
    /* background-color: rgb(253, 119, 71); */
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-bottom: 1px solid gray;
    }
    .mobile-sidebar a:active {
    color: white;
    background-color: #0e0d0d;
    font-weight: 600;
    border-radius: 10px;
    }
    /* Mobile */
    @media screen and (max-width: 800px) {
    /* .sidenav {padding-top: 45px;} */
    .sidenav a {
    font-size: 18px;
    }
    }
    .fs-0 {
    font-size: 16px;
    }
    .input:focus {
    outline: 2px solid black;
    }
    .delete-btn:hover {
    color: red;
    background: white;
    }
    .view-profile-btn:hover {
    color: yellow;
    background: white;
    }
    .delete-btn:hover {
    color: red;
    background: white;
    }
    .upload-property-btn:hover {
    color: rgb(178, 178, 41);
    background: white;
    }
    .Change-btn:hover {
    color: green;
    background: white;
    }
    .form-control {
    padding: 12px;
    }
    input[type="file"] {
    padding: 10px;
    border: 2px dotted black;
    }
    .upload {
    height: 700px !important;
    position: relative !important;
    overflow-y: scroll;
    }
    #deleteprofile,
    #EditProfile {
    display: block;
    }
    #changepass{
    display: block;
    }
    
</style>
<div class="d-md-flex h">
  <div id="mySidenav"class="sidenav col-xl-2 col-md-3 bg-dander d-md-block d-none">
    <a href="{% url 'wishlist' %}"
        ><i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i> Your
    wishlist</a
        >
    <a href="{% url 'upload' %}" 
        ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Upload property</a
        >
    <a href="{% url 'message' %}">
    <i class="bi bi-chat-left-text-fill fs-lg-5 me-1"></i> Messages</a
        >
    <a href="{% url 'profileupdate' request.user.id %}" 
        ><i class="bi bi-person-circle fs-lg-5 me-1"></i> Verify Profile</a
        >
        {% if user.has_usable_password %}
        <a href="{% url 'changepassword' %}" 
            ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
        Change password</a
            >
            {% else %}
            <a href="{% url 'setpassword' %}" 
            ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
        set password</a>
            {% endif %}
        <a href="{% url 'Yourproperty' %}" >
            <i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i>Your Uploaded Property</a
                >
    <a href="{% url 'logout' %}"
        ><i class="bi bi-box-arrow-right fs-lg-5 me-1 fw-semibold"></i>
    Logout</a
        >
</div>
    <!-- Mobile View -->
    <div class="d-md-none d-block">
      <button
      style="height: 50px;"
 class="btn btn-danger sidbut fs-5 w-100 rounded-0 justify-content-start d-flex"
 type="button"
 data-bs-toggle="offcanvas"
 data-bs-target="#offcanvasExample"
 aria-controls="offcanvasExample"
>
<i class="bi bi-box-arrow-right text-black fs-4 me-1 fw-semibold"> User Dashbord</i>
</button>
<div
class="offcanvas offcanvas-start col-sm-6 col-8"
tabindex="-1"
id="offcanvasExample"
aria-labelledby="offcanvasExampleLabel"
>
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        Dashboard
    </h5>
    <a
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        ></a>
</div>
<div class="offcanvas-body mobile-sidebar">
    <a href="{% url 'wishlist' %}"
        ><i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i> Your
    wishlist</a
        >
    <a href="{% url 'upload' %}"
        ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Upload
    property</a
        >
    <a href="{% url 'message' %}">
    <i class="bi bi-chat-left-text-fill fs-lg-5 me-1"></i> Messages</a
        >
    <a href="{% url 'profileupdate' request.user.id %}"
        ><i class="bi bi-person-circle fs-lg-5 me-1"></i> Verify
    Profile</a
        >
        {% if user.has_usable_password %}
        <a href="{% url 'changepassword' %}" 
            ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
        Change password</a
            >
            {% else %}
            <a href="{% url 'setpassword' %}" 
            ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
        set password</a>
            {% endif %}
            <a href="{% url 'Yourproperty' %}" >
              <i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i>Your Uploaded Property</a
                  >
      <a href="{% url 'logout' %}"
          ><i class="bi bi-box-arrow-right fs-lg-5 me-1 fw-semibold"></i>
      Logout</a
          >
</div>
</div>
    </div>
    <!-- Mobile View -->
    <div class="col-md-10 d-flex flex-column upload align-items-center bg-white">
        <!-- Delete Profile -->
        <!-- upload Property -->
        <!-- Chnage Password -->
        <div
        class="delete w-100 "
        id="uploadproperty">
        <div class="fs-1 fw-semibold px-5 my-2">Upload Properties</div>
        <div
          class="d-flex flex-column w-100 m-md-5 r p-5 rounded"
          style="background-color: #f9f7f7;"
        >
        <form action="{% url 'upload' %}" class="row g-3" method="post" enctype="multipart/form-data" >
            {%csrf_token%}
            <div class="col-md-6">
              <label for="inputState" class="form-label fs-0 fw-semibold"
                >Owner Type</label
              >
              <select required=true id="inputState" name="owner_type" class="form-select p-3">
                <option selected>Owner</option>
                <option>Agent</option>
              </select>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Property Name</label
                >
                <br />
                <input required=true
                  type="text"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Owner Name"

                  name="property_name"


                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label 
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Property Cents</label
                >
                <br />
                <input required=true
                  type="text"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Property Cents"
                  name="property_cents"


                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Property Sq Feet</label
                >
                <br />
                <input required=true
                  type="number"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Property Sq Feet"
                  name="property_sq_feet"

                />
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputState" class="form-label fs-0 fw-semibold"
                >Water Availbility</label
              >
              <select id="inputState" name="water_avl" class="form-select p-3">
                <option selected>24 Hrs</option>
                <option>Sheduled</option>
                <option>Limited</option>
              </select>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label fs-0 fw-semibold"
                  >Category</label
                >
                <select id="inputState" name="pro_cat" class="form-select p-3">
                  <option selected>Agriculture Lands</option>
                  <option>Venture Plots</option>
                  <option>Commercial Lands</option>
                  <option>Farm House</option>
                  <option>House Property</option>
                </select>
              </div>


              <div class="col-md-6">
                <label for="inputState" class="form-label fs-0 fw-semibold"
                  >Transportation Availbility</label
                >
                <select id="inputState" name="Trans_avl" class="form-select p-3">
                  <option selected>24 Hrs</option>
                  <option>Sheduled</option>
                  <option>Limited</option>
                </select>
              </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label 
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Property Address</label
                >
                <br />
                <input required=true
                  type="text"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Property Address"
                  name="prop_add"

                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label 
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Price</label
                >
                <br />
                <input required=true
                  type="number"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Price"
                  name="price"


                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Token Amount</label
                >
                <br />
                <input
                  type="number"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Token amount"
                  name="token_amount"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Property Discription</label
                >
                <br />
                <textarea required=true
                  type="text"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Property Discription"
                  name="property_discription"
                ></textarea>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="mb-3">
                <label
                  for="formGroupExampleInput2"
                  class="form-label fs-0 fw-semibold"
                  >Video url</label
                >
                <br />
                <input
                  type="text"
                  class="input form-control fs-md- fs-0 py-3"
                  id="formGroupExampleInput2"
                  placeholder="Video Url"
                  name="video_url"

                />
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputAddress" class="form-label fs-0 fw-semibold"
                >Property Video</label
              >
              <input required=true
                type="file"
                accept="video/*"
                class="form-control"
                id="hidden-input"
                placeholder="Address"
                name="pro_video"

              />
            </div>
            <div class="col-md-6">
              <label for="inputAddress" class="form-label fs-0 fw-semibold"
                >Property Image</label
              >
              <input required=true
                type="file"
                class="form-control"
                id="hidden-input"
                placeholder="Address"
                name="pro_image"
                accept="image/*"
              />
            </div>
            <div class="col-md-6">
                <label for="inputAddress" class="form-label fs-0 fw-semibold"
                  >Property Image</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="hidden-input"
                  placeholder="Address"
                  name="pro_image1"
                  accept="image/*"
                />
              </div>
              <div class="col-md-6">
                <label for="inputAddress" class="form-label fs-0 fw-semibold"
                  >Property Image</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="hidden-input"
                  placeholder="Address"
                  name="pro_image2"
                  accept="image/*"
                />
              </div>
              <div class="col-md-6">
                <label for="inputAddress" class="form-label fs-0 fw-semibold"
                  >Property Image</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="hidden-input"
                  placeholder="Address"
                  name="pro_image3"
                  accept="image/*"
                />
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label
                    for="formGroupExampleInput2"
                    class="form-label fs-0 fw-semibold"
                    >Owner Phone Number</label
                  >
                  <br />
                  <input required=True
                    type="number"
                    class="input form-control fs-md- fs-0 py-3"
                    id="formGroupExampleInput2"
                    placeholder="Phone Number"
                    name="phone_number"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label
                    for="formGroupExampleInput2"
                    class="form-label fs-0 fw-semibold"
                    >Property pincode</label
                  >
                  <br />
                  <input required=True
                    type="number"
                    class="input form-control fs-md- fs-0 py-3"
                    id="formGroupExampleInput2"
                    placeholder="Price"
                    name="pincode"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label 
                    for="formGroupExampleInput2"
                    class="form-label fs-0 fw-semibold"
                    >Property Districts</label
                  >
                  <br />
                  <input required=true
                    type="text"
                    pattern="^[a-zA-Z ]+$"
                    class="input form-control fs-md- fs-0 py-3"
                    id="formGroupExampleInput2"
                    placeholder="Property Address"
                    name="district"
                  />
                </div>
              </div>
          <div class="my-3">
            <button
              type="submit" 
              class="upload-property-btn btn btn-success py-md-3 px-md-4 p-3 fs-0"
            >
              Upload Property
            
            </button>
          </div>
        </form>
        </div>
      </div>
      
    </div>
</div>

{% endblock %}