{% extends 'base.html' %}
{% block content %}
<style>
    .sidenav {
    height: 100vh;
    /* width: 0; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1.5px solid #ebe9e9;
    }
    .sidenav a {
    padding: 8px 4px 8px 8px;
    margin-bottom: 0.8rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    display: block;
    transition: 0.3s;
    }
    .sidenav a:hover {
    color: #ff4b2b;
    /* background-color: rgb(253, 119, 71); */
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-bottom: 1px solid gray;
    }
    .sidenav a:active {
    color: white;
    background-color: #0e0d0d;
    font-weight: 600;
    border-radius: 10px;
    }
    /* Mobile */
    .mobile-sidebar a {
    padding: 8px 4px 8px 8px;
    margin-bottom: 0.8rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    display: block;
    transition: 0.3s;
    }
    .mobile-sidebar a:hover {
    color: #ff4b2b;
    border-bottom: 1px solid gray;
    /* background-color: rgb(253, 119, 71); */
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-bottom: 1px solid gray;
    }
    .mobile-sidebar a:active {
    color: white;
    background-color: #0e0d0d;
    font-weight: 600;
    border-radius: 10px;
    }
    /* Mobile */
    @media screen and (max-width: 800px) {
    /* .sidenav {padding-top: 45px;} */
    .sidenav a {
    font-size: 18px;
    }
    }
    .fs-0 {
    font-size: 16px;
    }
    .input:focus {
    outline: 2px solid black;
    }
    .delete-btn:hover {
    color: red;
    background: white;
    }
    .view-profile-btn:hover {
    color: yellow;
    background: white;
    }
    .delete-btn:hover {
    color: red;
    background: white;
    }
    .upload-property-btn:hover {
    color: rgb(178, 178, 41);
    background: white;
    }
    .Change-btn:hover {
    color: green;
    background: white;
    }
    .form-control {
    padding: 12px;
    }
    input[type="file"] {
    padding: 10px;
    border: 2px dotted black;
    }
    .upload {
    height: 700px !important;
    position: relative !important;
    overflow-y: scroll;
    }
    #deleteprofile,
    #EditProfile {
    display: block;
    }
    #changepass{
    display: block;
    }
    .contact{
        overflow-x: scroll; 

    }
     .contact::-webkit-scrollbar{
        width: 0 !important;
       }
        
    td{
        font-size: 15px;
      }
      th{
        font-size: 20px !important;
      }
      fs-but{
        font-size: 15px;
      }
      @media (min-width:800px){
        .wishlist{
          display: none ;
        }
       
      }
</style>
<div class="d-md-flex h">
    <div id="mySidenav"class="sidenav col-xl-2 col-md-3 bg-dander d-md-block d-none">
        <a href="{% url 'wishlist' %}"
            ><i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i> Your
        wishlist</a
            >
        <a href="{% url 'upload' %}" 
            ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Upload property</a
            >
        <a href="{% url 'message' %}">
        <i class="bi bi-chat-left-text-fill fs-lg-5 me-1"></i> Messages</a
            >
        <a href="{% url 'profileupdate' request.user.id %}" 
            ><i class="bi bi-person-circle fs-lg-5 me-1"></i> Verify Profile</a
            >
            {% if user.has_usable_password %}
            <a href="{% url 'changepassword' %}" 
                ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
            Change password</a
                >
                {% else %}
                <a href="{% url 'setpassword' %}" 
                ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
            set password</a>
                {% endif %}
            <a href="{% url 'Yourproperty' %}" >
                <i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i>Your Uploaded Property</a
                    >
        <a href="{% url 'logout' %}"
            ><i class="bi bi-box-arrow-right fs-lg-5 me-1 fw-semibold"></i>
        Logout</a
            >
    </div>
    <!-- Mobile View -->
    <div class="d-md-none d-block">
        <button
        style="height: 50px;"
   class="btn btn-danger sidbut fs-5 w-100 rounded-0 justify-content-start d-flex"
   type="button"
   data-bs-toggle="offcanvas"
   data-bs-target="#offcanvasExample"
   aria-controls="offcanvasExample"
 >
  <i class="bi bi-box-arrow-right text-black fs-4 me-1 fw-semibold"> User Dashbord</i>
 </button>
        <div
            class="offcanvas offcanvas-start col-sm-6 col-8"
            tabindex="-1"
            id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel"
            >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                    Dashboard
                </h5>
                <a
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                    ></a>
            </div>
            <div class="offcanvas-body mobile-sidebar">
                <a href="{% url 'wishlist' %}"
                    ><i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i> Your
                wishlist</a
                    >
                <a href="{% url 'upload' %}"
                    ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Upload
                property</a
                    >
                <a href="{% url 'message' %}">
                <i class="bi bi-chat-left-text-fill fs-lg-5 me-1"></i> Messages</a
                    >
                <a href="{% url 'profileupdate' request.user.id %}"
                    ><i class="bi bi-person-circle fs-lg-5 me-1"></i> Verify
                Profile</a
                    >
                    {% if user.has_usable_password %}
                    <a href="{% url 'changepassword' %}" 
                        ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
                    Change password</a
                        >
                        {% else %}
                        <a href="{% url 'setpassword' %}" 
                        ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i>
                    set password</a>
                        {% endif %}
                        <a href="{% url 'Yourproperty' %}" >
                          <i class="fa-solid fa-clipboard-list fs-lg-5 me-1"></i>Your Uploaded Property</a
                              >
                  <a href="{% url 'logout' %}"
                      ><i class="bi bi-box-arrow-right fs-lg-5 me-1 fw-semibold"></i>
                  Logout</a
                      >
            </div>
        </div>
    </div>
    <!-- Mobile View -->
        <!-- Delete Profile -->
        <!-- upload Property -->
        <!-- Chnage Password -->
        <div class="delete w-100" id="wishlist">
            <div class="fs-1 ps-5 fw-semibold  mt-5">Property You Contacted</div>
          
            <div
            class="d-flex flex-column m-5 gap-3 d-none d-md-block rounded wishlist"
          > 
            <table class="  table table-hover border rounded ">
              <thead  >
              <tr  style="background-color: #f9f7f7;" >
                  <th scope=" " >
                  Property Name
                  </th>
                  <th scope="">
                    Contact details
                  </th>
                  <th scope="" >
                    Type
                  </th>
                  <th scope="">
                    Action
                  </th>
                </tr>
              </thead>
              
              <tbody>

                {% if userwishlist %}
                {% for messagefrombuyer in userwishlist %}
                 <tr class="fs-5 align-middle">
                   <td>{{ messagefrombuyer.property.property_name }}<br>
                     {{ messagefrombuyer.property.property_address }}</td>
                   <td>
                    {{ messagefrombuyer.property.phonenumber }} / {{ messagefrombuyer.seller.phone_number }} 
                    </td>
                    <td>
                      {{ messagefrombuyer.property.category.category_name }}
                    </td>
                    <td>
                      {% comment %} <button class="btn btn-success mx-1 " href="{{ messagefrombuyer.property.get_url }}" id= "d{{x.id}}"> {% endcomment %}
                        <a href="{{ messagefrombuyer.property.get_url }}" class="btn btn-success mx-1 " onclick="">View Details</a>

                        {% comment %} View Details
                       </button> {% endcomment %}
                    </td>
                  </tr>
                  {% endfor %}
                 {% endif %}  
              </tbody>
            </table>
            </div>
 <div
  class="d-flex flex-column m-5 gap-3  rounded wishlist-1 d-sm-block d-md-none"
> 
  <table class="table  table-hover border rounded">
    <thead  >
    <tr  style="background-color: #f9f7f7;" >
        <th  class="fs-4">
        Property  Details
        </th>
        
      </tr>
    </thead>
    <tbody>
      {% if userwishlist %}
      {% for messagefrombuyer in userwishlist %}
       <tr class="fs-5 align-middle">
         <td>
          <div class="">  <strong>Property-name: </strong>{{ messagefrombuyer.property.property_name }}</div>
          <div class="">  <strong>Address: </strong>{{ messagefrombuyer.property.property_name }}<br>
            {{ messagefrombuyer.property.property_address }}</div>
          <div class="">  <strong>Contact: </strong>{{ messagefrombuyer.property.phonenumber }} / {{ messagefrombuyer.seller.phone_number }}</div>
          <div class="">  <strong>Type: </strong>{{ messagefrombuyer.property.category.category_name }}</div>
            
            <a href="{{ messagefrombuyer.property.get_url }}" class="btn btn-success mx-1 " onclick="">View Details</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}     
  
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="?pg=1" aria-label="previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% if userwishlist.has_previous %}
        <li class="page-item"><a class="page-link" href="?pg={{ userwishlist.previous_page_number }}">{{ userwishlist.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{userwishlist.number}}">{{ userwishlist.number }}</a></li>
    {% if userwishlist.has_next %}
       <li class="page-item"><a class="page-link" href="?pg={{ userwishlist.next_page_number }}">{{ userwishlist.next_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{userwishlist.paginator.num_pages}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
</div>
    </div>
{% comment %} </div> {% endcomment %}




{% endblock %}